@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define day and night colors as custom properties.
   These variables are only used internally.
*/
:root {
  /* Day mode color palette */
  --background-day: linear-gradient(135deg, #ffffff, #e0e8ff, #ffecec, #c0c0c0);
  --foreground-day: #333333;
  --accent-day: #a8a8ff;

  /* Night mode color palette */
  --background-night: linear-gradient(135deg, #121212, #1a1a2e, #131a2e, #2a2a2a);
  --foreground-night: #f0f0f0;
  --accent-night: #3a3a5e;
}

/* Default mode is determined by a data attribute on the <html> tag:
   "data-mode", with possible values of "day" and "night".
   If no attribute is set, system-preferences will be used.
*/
:root[data-mode="day"] {
  --background: var(--background-day);
  --foreground: var(--foreground-day);
  --accent: var(--accent-day);
}

:root[data-mode="night"] {
  --background: var(--background-night);
  --foreground: var(--foreground-night);
  --accent: var(--accent-night);
}

/* Fallback to system color-scheme when no data-mode attribute is present */
@media (prefers-color-scheme: dark) {
  :root:not([data-mode]) {
    --background: var(--background-night);
    --foreground: var(--foreground-night);
    --accent: var(--accent-night);
  }
}

@media (prefers-color-scheme: light) {
  :root:not([data-mode]) {
    --background: var(--background-day);
    --foreground: var(--foreground-day);
    --accent: var(--accent-day);
  }
}
@font-face {
  font-family: "Devil1";
  src: url("/fonts/Devil1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Devil2";
  src: url("/fonts/Devil2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Devil3";
  src: url("/fonts/Devil3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Now use your custom properties */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Orbitron", sans-serif;
}

/* Reset and Base Styles */
html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Canvas Styles */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Keeps the 3D canvas in the background */
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

/* Popup animation */
@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.nav-popup {
  animation: popup 0.6s ease-out forwards;
}
